.backGroundImage {
  width: 100%;
  height: 100%;
  background-image: url("../images/webp/background1.webp");
  background-repeat: no-repeat;
  background-size: cover;
}

button {
  cursor: pointer;
}

.confirm {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 528px;
}

.title {
  margin-bottom: 16px;
  margin-top: 88px;
  font-size: 1.5rem; /*24px;*/
  font-weight: bold;
  color: #190f27;
}

.subtitle {
  font-size: 1.125rem; /*18px;*/
  color: #64606a;
}

.submit {
  border: none;
  border-radius: 7px;
  margin-top: 26px;
  width: 100%;
  height: 50px;
  background-color: #ff6939;
  font-size: 1.125rem; /*18px;*/
  font-weight: bold;
  color: #190f27;
}

a.link {
  border-bottom: 3px solid #284642;
  text-decoration: none;
  font-size: 0.875rem;
  color: #64606a;
}
.login {
  padding-top: 14px;
  font-size: 0.875rem;
  color: #64606a;
}

@media (max-width: 600px) {
  a {
    font-size: 0.75rem;
  }
  .confirm > button {
    font-size: 0.75rem;
  }
}
